* {
    padding: 0;
    margin: 0;
}

.shell {
    height: 100vh;
    overflow-x: hidden;
    perspective: 3px;
}

.shell div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 30px;
    letter-spacing: 2px;
}

.image {
    transform: translateZ(-1px) scale(1.6);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

.text {
    height: 35vh;
    background-color: rgb(19, 15, 15);
}

.text h1 {
    color: rgb(128, 69, 69);
    font-size: 50px;
}

.heading {
    z-index: -1;
    transform: translateY(-30vh) translateZ(1px);
    color: #fff;
    font-size: 30px;
}

.logo {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(155, 89, 89);
    padding-left: 80px;
}

.top {
    height: auto;
    width: 100%;
    margin-left: 0;
    background: rgb(0, 0, 0，0.8);
    position: fixed;
    top: 0;
    margin-bottom: 5px;
}

.top ul {
    width: auto;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
}

.top li {
    float: left;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}

.top li a {
    display: block;
    color: rgb(155, 89, 89);
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 15px;
}

.top li a:hover {
    background-color: rgb(53, 31, 31);
}

.top ul li ul {
    margin-left: -0.2px;
    background: rgb(126, 53, 53);
    position: relative;
    display: none;
    border-radius: 15px;
}

.top ul li ul li {
    float: none;
    text-align: center;
}

.top ul li:hover ul {
    display: block;
}

body {
    background: #eff3f5;
}

body {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    /* 隐藏侧面的两个滚动栏 */
    z-index: -1;
}