<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="GB 2312">
    <title>Registration - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />


</head>



<style>
    body{

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 1000px;
        object-fit: contain;
        padding: 0;
        margin: 0;
        background: url("../images/luori.jpg") center 0;
        background-size: 100% 100%;

    }

</style>





<body>
<div class ="container text-center">
    <div>
        <br>   <h1 style="color: coral ; font-size: 50px">        You can add some suggestions here</h1>
    </div>
    <div>

        <
        <form th:action="@{/suggest/addSuggestion}" method="post"
              style="max-width: 600px; margin: 0 auto ;color: black"
              th:object="${suggestion}"
        >
            <div class="m-3">



                <div class="form-group row">
                    <label style="color: coral ; font-size: 10px" class="col-form-label col-4">Suggestion</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{suggestions}" required
                               minlength="2" maxlength="20"/>
                    </div>
                </div>


                <div>
                    <button style="color: coral ; font-size: 10px" type="submit" class="btn btn-primary">Sign Up</button>
                </div>

            </div>
        </form>

    </div>

</div>
</body>
</html>